.Body1 {
	
	background-image: url("4v126P.png");
	font-family: Helvetica,Arial,sans-serif;
	
	height:420vh;
	padding-bottom:45px;
	padding-top:10px;
	border-radius: 19px; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.Body2 {
	background-image: url("4v126P.png");
    padding-bottom:100px;
	padding-top:20px;
	font-family: Helvetica,Arial,sans-serif;
	height:417vh;
	border-radius: 19px; 
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.body2footer{
	
color:white;
font-size:15px;

}




.container1 {

    background-color:#A9A9A9;
	margin:15px;
	height:412vh;
	padding:15px;     
	width:1950px;
	margin-left:auto;
	margin-right:auto;
	border-radius: 25px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	
}


.container2 {
	height:417vh;
    padding:40px;
	background-color:#A9A9A9;
	width:1600px;
	margin-left:auto;
	margin-right:auto;
	border-radius: 25px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.Bodylogin {

	background-image: url("4v126P.png");
	font-family: Helvetica,Arial,sans-serif;
	padding-top:10px;
	border-radius: 19px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.header1  { background-image: url("cod.jpg");
	 padding-top:5px;
	background-color: #4b0082;	
    margin:20;
    color:white;
    text-align: center;	
	font-style: italic;
	border-radius: 19px; 
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.name{
	margin-right: 130px;
	font-size:30px;
}



.header2  { 
background-image: url("cod.jpg");
    padding-top:5px;
    margin:2;
    font-style: italic;
	
    color:white;
    text-align: center;	
	border-radius: 25px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}



.content1 {
     height:81vh;
     padding:10px;
	 border-radius: 25px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.content2 { 
padding:10px;	
}


.nav1{
	background-color:black;
	color:white;
	width: 300px;
	float:left;
	padding:10px;
	border-radius: 25px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	 
}



.nav2{
	background-color:black;
	color:	white; 
	width: 300px;
	float:left;
	height:61vh;
	padding:10px;
	border-radius: 25px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.nav1 ul{
	-moz-text-blink:left;
	list-style-type:none;
	padding: 15;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	 border-radius: 25px;
}


.nav2 ul{
	text-align-last:left; 
	list-style-type:none;
	padding: 15;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	 border-radius: 25px;
}


.main1 {
	color:white;
	background-image: url("Aurora.png");
	width: 570px;
	float:left;
	border-radius: 20px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	 
}


.main2 {
	background-image: url("Aurora.png");
	color:white;
	width: 690px;
	float:right;
	font-size:10;
	border-radius: 20px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.copyright {
	
	font-size:20px;
	clear:both;	
	padding:10px;
background:#008080;
color: white;
	border-radius: 25px;
	 box-shadow: 0 0 20px rgba(0,0,0,0.2)

}


.nav1.selected {
     font-weight:bold;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nav2.selected {
     font-weight:bold;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.About1{
  padding-left:200px;
	color:#006400;
  
}

.purpose1 {
	background-image: url("4848691.jpg");
	float:left; 
	font-weight:bold;
	padding: 15;
	color:white;
	border-radius: 15px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} 

.parts2 {
	height:325vh;
	background-image: url("Aurora.png");
	float:left; 
	padding:10px;	
    color:white;
	border-radius: 25px;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	
}


.best_airflow_pc_case {
     	border-radius: 20px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	
}



.login_body1{
	
	margin:20;
	padding:5;
	font-family:sans-serif;
	background:#34495e;	
	border-radius: 20px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.login_box1{
	background-image: url("pc.jpg"); 
padding:4px;
border-radius: 20px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.login_body2{
	height:0vh;
	font-size:10px;
	margin:25;
	padding:370;
	font-family:sans-serif;
	color:white;

}



.login_box2{
	
width:380px;
padding:30px;
position:absolute;	
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#191919;
text-align: center;
border-radius: 25px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	 
}



.login_box2 h1{
color:white;
text-transform:uppercase;
font-weight:500;
	
}



.login_box2 input[type="text"],.box input[type="password"]{
border:0;
font-size:10px;
background:none;
display:block;
margin:1px auto;
text-align: center;	
border:3px solid #3498db;
padding: 14px 10px;
width:200px;
outline:none;
color:white;
border-radius: 24px;
transition:0.25s;	
}



.login_box2 input[type="text"]:focus,.box input[type="password"]:focus{
 width:280px;
border-color:#2ecc71; 	
}



.login_box2 input[type="submit"]{
border:0;
background:none;
display:block;
margin:20px auto;
text-align: center;	
border:2px solid #3498db;
padding: 14px 10px;
width:120px;
outline:none;
color:white;
border-radius: 24px;
transition:0.25s;	
}




.About-pg1-slide-down{
	background-image: url("Aurora.png");

	border-radius: 19px;
	margin:20;
	padding:5;
	font-family:sans-serif;
	border-radius: 30px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.vedioreport1{
background-image: url("kurd.jpg");
	margin:90;
	
	border-radius: 30px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.vedioreport2{
	background-image: url("kurd.jpg");
    margin:90;

border-radius: 30px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.vedioreport3{
background-image: url("kurd.jpg");
	margin:90;
	
	border-radius: 30px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.vedioreport4{
background-image: url("kurd.jpg");
    margin:90;

	border-radius: 30px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}




.vedioreport1p2{
background-image: url("4848691.jpg");
    margin:90;

	border-radius: 30px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}




.vedioreport2p2{
	background-image: url("4848691.jpg");
    margin:90;

	border-radius: 30px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.vedioreport3p2{
	
	background-image: url("4848691.jpg");
    margin:90;
	border-radius: 30px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.vedioreport4p2{
	
	background-image: url("4848691.jpg");
    margin:90;
	border-radius: 30px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}











